<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script type="http://code.jquery.com/jquery-1.7.2.min.js"></script>
</head>
<body>
	## Go to index.erb to write the body
	<%= yields%>
</body>
</html>